#h3 {
    color: aqua;
    text-align: center
    text-shadow:2px 2px black;
}


.Div1{
    background-color: antiquewhite;
}


body{
    background-image: url(mancity.png);
    background-size: cover;
}